* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(241, 242, 245); */
}
#body {
  background-color: rgb(241, 242, 245);
}
#img {
  display: none;
  z-index: -1;
  position: relative;
}
#hii {
  height: 100vh;
  width: 100vh;
  position: absolute;
  z-index: 1;
}
#facebook {
  color: rgb(10, 115, 253);
  font-size: 60px;
  font-weight: 700;
  z-index: 2;
}
.facebook-text {
  color: black;
  font-size: 30px;
}
.text {
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 570px;
  margin-left: 160px;
  margin-top: 190px;
}
.box {
  display: flex;
  z-index: 1;
  position: relative;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  border: 1px solid white;
  border-radius: 10px;
  height: 340px;
  background-color: rgb(255, 255, 255);
  margin-left: 750px;
  margin-top: -190px;
}
#email {
  display: flex;
  height: 46px;
  border: 1px rgb(219, 219, 219) solid;
  width: 345px;
  background-color: rgba(245, 243, 243, 0.281);
  margin-left: 20px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
  padding-left: 10px;
}
.password {
  display: flex;
  height: 46px;
  border: 1px rgba(219, 219, 219) solid;
  background-color: rgba(245, 243, 243, 0.281);
  width: 345px;
  margin-left: 20px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 7px;
}
.button {
  background-color: rgb(10, 115, 253);
  width: 350px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: none;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
  height: 46px;
  margin-left: 20px;
  cursor: pointer;
}
.forgot {
  color: rgb(0, 85, 197);
  text-decoration: none;
  font-weight: 6px;
  margin-left: 125px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.forgot:hover {
  text-decoration: underline;
}
.border {
  border-top: 0.6px solid rgb(204, 201, 201);
  width: 340px;
  margin-left: 24px;
  margin-top: 10px;
}
.account {
  border: none;
  background-color: rgba(5, 165, 5, 0.877);
  color: white;
  font-size: large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 46px;
  width: 200px;
  margin-left: 97px;
  margin-top: 15px;
  border-radius: 5px;
}
.account:hover {
  background-color: rgba(6, 139, 6, 0.877);
  cursor: pointer;
}
.txt {
  display: flex;
  flex-direction: row;
  gap: 6px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 50px;
  margin-left: 38px;
}
.page {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 700;
}
.for {
  font-size: 15px;
}
.page:hover {
  text-decoration: underline;
}
.down {
  margin-top: 300px;
  background-color: white;
  height: 200px;
}
.lang {
  display: flex;
  flex-direction: row;
  gap: 11px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
  padding-top: 30px;
  padding-left: 110px;
}
.lang1 {
  color: gray;
  text-decoration: none;
}
.lang:hover {
  text-decoration: underline;
  cursor: pointer;
}
.btn {
  width: 29px;
  height: 23px;
  font-size: large;
  color: rgb(97, 96, 96);
}
.border1 {
  border-top: 0.1px solid rgb(180, 180, 180);
  width: 970px;
  margin-left: -640px;
  margin-top: 36px;
}
.in {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: visible;
  color: grey;
  width: 900px;
  margin-left: 103px;
  margin-top: -120px;
  height: 60px;
  gap: 10px;
}
.hlo:hover {
  text-decoration: underline;
  cursor: pointer;
}
